body{
    background: rgb(101, 201, 168);
}
div{
    margin: 30px;
}
.container{
    border-radius: 30px;
    border: solid 4px black;
    background: linear-gradient(rgb(188, 225, 212), rgb(50, 153, 119));
    width: 400px;
    height: 500px;
    margin-top: 65px;
    margin-left: 400px;
}
.title{
    font-size: 20px;
    align-items: center;
    padding-left: 80px;
}
.input{
    font-size: 25px;
    align-items:center;
    justify-content: center;
}
#calcular{
    width: 120px;
    background-color: rgb(2, 31, 28);
    border-radius: 2px;
    border: solid 3px black;
    font-size: 20px;
    align-items: center;
    padding: 4px;
    margin-left: 130px;
    color: white;
    margin-top: 5px;
}
.result{
    margin-top: 20px;
    border-radius: 20px;
    border: solid 2px black;
    font-size: 19px;
    align-items: center;
    padding: 20px;
    background: aquamarine;
    min-width: 200px;
    min-height: 100px;
}
input{
    background: transparent;
    width: 200px;
}
.peso{
    padding-left: 19px;
    font-size: 25px;
    align-items:center;
    justify-content: center;
}
