body{
    background: rgb(217, 231, 226);
}
div{
    margin: 30px;
}
#img_tabela_imc{
    border-radius: 30px;
    border: solid 4px black;
    margin-left: 10px;
    width: 750px;
    height: 500px;
}
.container{
    border-radius: 30px;
    border: solid 4px black;
    background: linear-gradient(rgb(255, 255, 255), rgb(73, 135, 114));
    width: 400px;
    height: 500px;
    margin-top: -540px;
    margin-left: 900px;
}
.title{
    font-size: 20px;
    align-items: center;
    padding-left: 80px;
}
.input{
    font-size: 25px;
    align-items:center;
    justify-content: center;
}
#calcular{
    width: 120px;
    background-color: rgb(78, 113, 109);
    border-radius: 2px;
    border: solid 3px black;
    font-size: 20px;
    align-items: center;
    padding: 4px;
    margin-left: 130px;
    color: white;
    margin-top: 5px;
}
.result{
    margin-top: 20px;
    border-radius: 20px;
    border: solid 2px black;
    font-size: 19px; 
    align-items: center;
    padding: 20px;
    background: rgb(204, 225, 218);
    min-width: 200px;
    min-height: 100px;
}
input{
    background: transparent;
    width: 200px;
}
.peso{
    padding-left: 19px;
    font-size: 25px;
    align-items:center;
    justify-content: center;
}
